@@font-face {
  font-family: 'inter';
  font-weight: 100 900;
  src: url('fonts/Inter.var.woff2')
}
html{
  /* background-color:black; */
  cursor:crosshair;
  background-color:black;

}
* {
  padding: 0;
  margin: 0;
}

#canvasParent{
  position:fixed;
  z-index:-1;
  font-family: 'Space Mono', monospace;
  font-family: p22-mackinac-pro, serif; ;
}
.bodycolor{
  background-color:white;
}
.controls{
  /* -webkit-appearance: none; */
  color:#e8e3ff;
  background-color:rgba(34, 31, 48,1);
  padding:5px;
  font-family:'Inter',sans-serif;
  font-size: 15px;
  border-radius:5px;
  border:none;
  outline:none;
}

.controls:hover{
  background-color:rgba(64, 58, 89,1);
}

.controlsclear{
  /* -webkit-appearance: none; */
  color:#e8e3ff;
  background-color:rgba(34, 31, 48,1);
  padding:5px;
  font-family:'Inter',sans-serif;
  font-size: 15px;
  border-radius:5px;
  border:none;
  outline:none;
}

.controlsclear:hover{
  background-color:#ff412b;
  color:white;
}

.Slider{
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background-color:rgba(34, 31, 48,1);
  border-radius:5px;
  outline: none;
}

.info{
  width:30px;
  height:30px;
  background-color:rgba(34, 31, 48,1);

  color:white;
  position:absolute;
  top:0px;
  right:0px;
  margin:20px;

  border-radius:40px;
  border:none;
  font-family:'Inter',sans-serif;
  font-size: 15px;
  z-index:100;
  cursor:pointer;
}
.info:hover{
  background-color:rgba(64, 58, 89,1);
}

.info span{
  text-align: center;
  transform: translate(-50%,-50%);
}

#overlay {
  position: fixed;
  width:100%;
  height:100%;
  top: 0;
  z-index: 200;
  cursor: pointer;
  transition: .9s ease;
  clip-path:circle(0% at 97% 5%);
  background-color:#4287f5;
  background-color:rgba(34, 31, 48,1);
}
#text{
  position: relative;
  top: 50%;
  left: 50%;
  font-size: 36px;
  color:#e8e3ff;
  text-align: center;
  transform: translate(-50%,-50%);
  font-family:'Inter';
  font-weight: 400;
}
#text a{
  color:#e8e3ff;

}

.entertext{
  width:200px;
  background-color:rgba(34, 31, 48,1);
  padding:15px;
  border:none;
  border-radius: 5px;
  font-size:20px;
  color:#e8e3ff;
}
  #overlay2 {
    display:none;
  }

@media only screen and (max-width: 600px) {
  #overlay2 {
    display:block;
    position: fixed;
    width:100%;
    height:100%;
    top: 0;
    z-index: 200;
    cursor: pointer;
    transition: .9s ease;
    background-color:black;
  }
  #text2{
    position: relative;
    top: 50%;
    left: 50%;
    font-size: 36px;
    color: white;
    text-align: center;
    transform: translate(-50%,-50%);
    font-family:'Inter';
    font-weight: 400;
  }
}

/* make this overlay thing not work on safari */
_::-webkit-full-page-media, _:future, :root .safari_only {

  #overlay, #overlayabout{
    display:none;
  }

}
@media not all and (min-resolution:.001dpcm) { @media {

    #overlay{
      display:none;
    }

}}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {

  #overlay{
    display:none;
  }

}}
